@font-face {
  font-family: "Harry Potter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Harry Potter Regular"),
    url("../../fonts/HarryRegular.woff") ("woff");
}

.headerContainer {
  width: 100%;
  background-color: black;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    height: 100px;
    margin-bottom: 5px;
  }

  & .butger {
    margin-left: 40px;
  }

  & .favorites {
    width: 46px;
    height: 46px;
    margin-top: 14px;
    margin-right: 40px;
  }
}

// #a85;
